@font-face {
    font-family: Proxima;
    src: local('Proxima Nova'), url("./proxima.woff") format("woff");
}
html, body{
    height: 100%; 
    font-size: 12px !important;
}
.row{
    margin:0;
}

.btn{
    padding:5px 8px;
    font-size: 1em;
    background: rgba(67, 96, 65, 0.69);
    color: #f7f7f7;
    transition: all .3s linear;
}

.btn:hover{
    background: #034b03;
    color:#fff;
}

.bg-success{
    background-color: #75C754;
    color: #095E18;
}

nav.sidebar{
    position: absolute;
    height:100%;
}
nav.sidebar ul{
    list-style-type: none;
    padding:0;
    margin:0;
    background: #303641;
    width: 280px;
    height: 100%;
}

nav.sidebar ul > li .fa{
    margin-right: 7px;
}

nav.sidebar ul > li > a{
    display: block;
    padding:10px 30px;
    width:100%;
    height:100%;
    color: #ccc;
    transition: all .3s linear;
    border-bottom:1px solid rgba(69,74,84,0.4);
    text-decoration: none;
}
nav.sidebar ul > li:hover > a{
    padding-left:45px;
    color: #fff;
    background: #22262e;
}

.main{
    margin-left: 280px;
    min-height:100%;
    background: #fff;
    padding:0px;
    background: #F2F4F5;
}

.main_header{
    text-align: center;
    padding: 0 20px;
    background: #448d58;
    color: #fff;
    font-size: 1.3em;
    overflow: hidden;
    margin-bottom: 15px;
    line-height: 50px;
    font-weight: 700;
}

.main_body{
    padding: 0 5px;
    overflow: hidden;
}

.module_title{
    border-bottom: 0;
    border-radius:5px 5px 0 0;
    padding: 10px 15px;
    font-size: 1.2em;
    color:#fff;
    font-weight: 700;
    background: #2C406C;
}

.module_btn{
    margin-top: 8px;
}

.module{
    clear: both;
    color: #666;
}
.module > table{
    width: 100%;
    background: #fff;
}

.module > table > tbody > tr:first-child > td{
    background: #eee;
}

.module > table > tbody > tr > td{
    border: 1px solid #ccc;
    padding: 8px 15px;
}

.module_body{
    background: #fff;
    border:1px solid #ccc;
}

.module_body > form{
    overflow: hidden;
}

.module_body > form label{
    padding-top: 5px;
    text-align: right;
}

.module_body > form input[type='text']{
    border: 1px solid #eee;
    padding:5px;
    border-radius:5px;
}

.module_body > form input[type='file']{
    width: 36%; 
}

.module_body > form input[type='submit']{
    margin: 15px 0; 
}

.form-group{
    margin-bottom: 0;
    border-bottom:1px solid #ccc;
    overflow: hidden;
    padding:15px 10px;
}

.bg-success{
    padding:10px 20px;
    font-weight: 700;
    font-size:1.3em;
}

